/*
  Default
*/
body { padding-top: 80px; }

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

body {
  font-family: 'Lato', sans-serif;
}

body, .bg-secondary {
  background-color: #16191B;
}
/**/

/* Colors */
.bg-gradient-black {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.color-primary {
  color: #ACCBE1;
}

.color-grey{
  color: #474B4F;
}

.color-white {
  color: #FAFCFD; 
}
/**/


/*
Change Bootstrap styles
*/
.navbar-gradient-black > div > div > a {
  color: #474B4F;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav > .active, .navbar-nav > a {
  position: relative;
}

.navbar-nav > .active, .navbar-nav > a:hover {
  color: #FAFCFD;
}

@media screen and (max-width: 986px) {
  .navbar-nav > .active:after {
    margin: 0;
    left: 0;
    right: auto !important;
  }
}

.navbar-nav > .active:after {
  content: '';

  position: absolute;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  width: 60%;
  height: 2px;

  background-color: #FAFCFD;
}
/**/

/*
Sizes
*/
.font-24 {
  font-size: 24px;
}

.w-40 {
  width: 40px;
}
/**/