html, body, #root {
  height: 100%;
  margin-top: 0;
}

.Base-profile {
  width: 30%;
}

.Base-inputfield {
  border-radius: 2px;
  flex-grow: 100;
  border: 1px;
  font-size: 1em;
  min-height: 1.2em;
  border-style: solid;
  border-color: #ddd;
}

.Base-orderlist {
  list-style-type: none;
}