.template-title-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 2em;
  margin-bottom: 2em;
}

.template-name {
  margin-right: 0.5em;
  white-space: nowrap;
}

.template-linemark {
  margin-top: 0;
  margin-bottom: 10px;
  background-color: #ccc;
  width: stretch;
  height: 1px;
}

.template-button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  margin-left: 1em;
}

.template-button img {
  height: 2em;
}
